<%= form_for(@message, html: { class: "form-horizontal"}) do |f| %>
<% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="row">
    <%= f.label :名前, class: "col-sm-3 control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :年齢, class: "col-sm-3 control-label" %>
    <%= f.text_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :内容, class: "col-sm-6 control-label" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
</div>

  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
